<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691214977057-9enonrtj4srgp81a3smqceme4ousen3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691214977057-9enonrtj4srgp81a3smqceme4ousen3v</string>
	<key>API_KEY</key>
	<string>AIzaSyA9tW83DJidauElzYKcEdJMw33-jjOXe9c</string>
	<key>GCM_SENDER_ID</key>
	<string>691214977057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.nishamghimire.nishamnotes</string>
	<key>PROJECT_ID</key>
	<string>nishamnotes-88afe</string>
	<key>STORAGE_BUCKET</key>
	<string>nishamnotes-88afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691214977057:ios:e44d1008423032c9a03b60</string>
</dict>
</plist>